*{
    margin:0;
    padding:0;
}
.logo img{
    border:3px solid white;
    border-radius:30px;
    text-align: right;
    }
.rightNav{

width:30%;
padding: 0 23px;
text-align:right;
}
.navbar
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:sticky;
    top:0;
    cursor: pointer;  
}
#search
{
    padding:10px;
    border: 2px solid grey;

}

.background{
    background: rgba(207, 193, 193, 0.7) url('logo1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

aside {
  background-color: #fcf6f6;
  justify-content: space-between;
  padding: 50px 0;
  width: 100%;
  display: flex;
  height:80%;
  
}
#icon{
    margin-right:20px;
}
aside img{
    margin:0 30px;
     width:200px;
     height:300px;
     cursor:pointer;
    
 }
 .view{
     margin: 30px 10px;
 }
  
li {
    list-style:none;
    display:inline;
    padding:20px 30px;
}
.foot{
    margin-top:30px;
    text-align:center;
    padding:10px;
}
a:link{
    text-decoration: none;
}
.btn{
padding: 8px 20px;
margin:7px 0;
border:2px solid white;
border-radius:8px;
font-size:18px;
background: none;
color: white;
cursor:pointer;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
aside p{
    margin:0 30px;
    align-items: center;
}
.btn:hover{
    background-color: black;
    color:white;
}
    